{% load gallery_tags %}
<div class="gallery{% if gallery_content.thumbnail_format %} gallery-format-{{ gallery_content.thumbnail_format|slugify }}{% endif %}">
  {% if show_title and gallery.title %}
    <h3>{{ gallery.title }}</h3>
  {% endif %}
  {% for photo in gallery.photos.all %}
    <div class="gallery_photo">
      <a href="{{ gallery_content|get_large_version:photo }}">
        <img src="{{ gallery_content|get_small_version:photo }}" title="{{ photo.caption }}" />
        {% if show_captions and photo.caption %}
          <span class="caption">{{ photo.caption }}</span>
        {% endif %}
      </a>
    </div>
  {% endfor %}
  <div style="clear: both;"></div>
</div>
